{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "proseWrap": "always",
  "semi": true,
  "jsx-single-quote": true,
  "lint": "pretty-quick --staged & eslint 'src/**/*.{js,jsx}' --quiet --fix"
}
