.NoPostsFounded {
  margin: 0 auto;
  padding: 0 5%;

  @media (min-width: $large) {
    padding: 0;
  }

  &__title {
    font-size: 2.5rem;
    color: var(--terciario);
    margin-bottom: 1rem;
    font-weight: 600;
    transition: var(--transition);

    @media (min-width: $ipad) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    @media (min-width: $large) {
      text-align: left;
    }

    &:hover {
      color: var(--secundario);
      text-shadow: 1px 1px 4px var(--terciario);

      @include after-button(
        'No te preocupes estamos trabajando para solucionarlo ;)',
        -1.5rem,
        1rem,
        1rem
      );
    }
  }

  &__text {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 4rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.5;

    @media (min-width: $ipad) {
      font-size: 1.2rem;
      line-height: 1.6;
    }

    @media (min-width: $large) {
      line-height: 1.8;
      text-align: left;
      padding: 0;
    }

    &__span {
      color: var(--secundario);
      margin-top: 0.5rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding-top: 1.5rem;

    @media (min-width: $large) {
      justify-content: flex-start;
      column-gap: 2rem;
    }

    button {
      border: none;
      outline: none;
      background: var(--terciario);
      padding: 0.8rem;
      border-radius: var(--radius);
      color: var(--white);
      transition: var(--transition);
      font-weight: 400;

      @include no-select;

      @media (min-width: $ipad) {
        font-size: 1.3rem;
        padding: 0.9rem;
      }

      &:hover {
        background: var(--principal);
        box-shadow: 1px 1px 5px var(--shadow-color);
      }
    }
  }

  &__img {
    width: 100%;

    @media (min-width: $ipad) {
      height: auto;
      width: 500px;
    }

    @media (min-width: $large) {
      width: 550px;
      height: 500px;
    }
  }
}
