.WelcomeView {
  padding: 2rem 5%;
  padding-top: 0;

  @media (min-width: 768px) {
  }

  &__hero-illustration {
    // width: 350px;
    width: 100%;
    height: auto;
    transform: scale(1.1);
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ff9770' fill-opacity='0.2'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: auto;
    // Esto coloca al background un poco mas arriba y asi vizualizar mejor el pattern
    background-position-y: -1.4rem;
    margin: 0 auto;
    margin-top: 1rem;
  }

  &__title {
    text-align: left;
    font-weight: 700;
    text-shadow: 1px 1px 0 var(--sandy-brown);
    transition: var(--transition);
    @include no-select;

    span {
      color: var(--sandy-brown);
      text-shadow: 1px 1px 0px var(--shadow-color);
      transition: var(--transition);
      display: block;
    }

    &:hover {
      color: var(--sandy-brown);
      text-shadow: 1px 1px 0 var(--shadow-color);

      span {
        color: var(--dark);
        text-shadow: 1px 1px 0 var(--sandy-brown);
      }
    }
  }

  &__text {
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 1.5rem;
  }

  &__btn-div {
    display: block;
    text-align: center;

    &__btn {
      padding: 1rem;
      margin: 2.5rem 0;
      border: 0;
      border-radius: var(--radius);
      background: var(--naples-yellow);
      transition: var(--transition);
      @include no-select;

      &:hover {
        filter: brightness(1.035);
        transform: scale(1.1);
        cursor: pointer;
        // box-shadow: 1px 1.4px 2px 0 var(--shadow-color);
        box-shadow: 0.2px 1px 3px 0 var(--shadow-color);
      }
    }
  }

  &__links-div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    left: 0;
    width: 100%;
    padding-bottom: 1rem;

    a {
      color: var(--grey);
      text-decoration: none;
      border: var(--border-invisible);
      font-weight: 300;
      font-size: 0.9rem;

      &:hover {
        color: var(--dark-charcoal);
        border-bottom: 1px solid var(--charcoal);
      }
    }
  }
}
