@mixin after-button($text, $top: 0, $left: 0, $font-size: 0.7rem) {
  &::after {
    content: $text;
    position: absolute;
    line-height: 1.2;
    width: auto;
    height: auto;
    padding: 0.5rem;
    visibility: hidden;
    animation: 0.6s fadeIn;
    animation-fill-mode: forwards;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    font-size: $font-size;
    color: var(--white);
    border-radius: var(--radius);
    background: var(--dark-grey);
    left: $left;
    top: $top;
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
