.PostComponent {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 7px var(--shadow-color);
  border-radius: var(--radius);
  height: 11.2rem;

  @media (min-width: $ipad) {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    // width: 90%;
    width: 520px;
    margin: 0 auto;
  }

  // imagen del post
  &__img {
    width: 8.12rem;
    height: 100%;
    border-radius: var(--radius);
    object-fit: cover;
    object-position: center;

    @media (min-width: $ipad) {
      width: 100%;
      height: 18rem;
      object-position: none;
      border-radius: var(--radius) var(--radius) 0 0;
    }
  }

  &__content {
    text-align: left;
    padding: 0rem 1rem;

    @media (min-width: $ipad) {
      padding: 1.5rem;
    }

    &-title {
      font-size: 0.95rem;
      margin-bottom: 0.9rem;
      font-weight: 500;
      color: var(--principal);

      @media (min-width: $ipad) {
        font-size: 1.5rem;
        margin-bottom: 1.1rem;
      }
    }

    &-description {
      font-size: 0.775rem;
      line-height: 1.3;
      font-weight: 400;
      color: var(--secundario);

      @media (min-width: $ipad) {
        font-size: 1.12rem;
        padding-right: 3.5rem;
        line-height: 1.5;
      }
    }
  }

  &__categories {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
    font-weight: 300;
    font-size: 0.85rem;
    color: var(--secundario);
    opacity: 0.8;

    @media (min-width: $ipad) {
      font-size: 1.1rem;
      margin-top: 1rem;
    }
  }
}
