.PostComponent {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 7px var(--shadow-color);
  border-radius: var(--radius);
  height: 180px;

  &__img {
    // height: 118px;
    width: 130px;
    height: 91%;
    transform: scale(1.1);
    border-radius: var(--radius);
  }

  &__content {
    text-align: left;
    // margin-left: 1rem;
    padding: 0.7rem;
    &-title {
      font-size: 16px;
      margin-bottom: 0.9rem;
    }

    &-description {
      font-size: 14px;
      line-height: 1.3;
    }
  }

  &__categories {
    margin-top: 0.5rem;
    // text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
  }
}
