.GetApiNews {
  &__flex {
    @media (min-width: $ipad) {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 2rem;
      justify-content: space-around;
    }

    @media (min-width: $large) {
      justify-content: space-between;
      column-gap: 1rem;
      row-gap: 3.5rem;
    }
  }
}

#rotate {
  transform: rotate(90deg);
  transition: var(--transition);
}

.loader__height {
  height: 450px;
}
