.AboutText {
  padding: 3% 5%;
  line-height: 1.69;

  @media (min-width: $large) {
    padding: 2% 4%;
    text-align: left;
  }

  &__title {
    font-size: 2.5rem;
    text-align: center;
    @include no-select;
    display: flex;
    align-items: center;

    i {
      margin-right: 0.6rem;
      font-size: 2rem;
    }

    @media (min-width: $large) {
      text-align: left;
    }
  }

  &__text {
    text-align: center;

    @media (min-width: $ipad) {
      text-align: justify;
      max-width: 700px;
    }

    @media (min-width: $large) {
      max-width: 1100px;
      line-height: 1.85;
    }
  }

  &__cards-container {
    margin-top: 2rem;
    cursor: default;
    @include no-select;

    &-title {
      margin-top: 4rem;
      font-size: 1.8rem;
      margin-bottom: 0;

      @media (min-width: $large) {
        text-align: left;
      }

      i {
        margin-right: 0.5rem;
      }
    }

    &-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: var(--white);

      @media (min-width: $ipad) {
        justify-content: space-around;
        align-items: center;
        column-gap: 1rem;
      }

      @media (min-width: $large) {
        margin: 2rem 0px;
        justify-content: space-around;
      }
    }
  }
}
