.YtCard {
  display: none;

  @media (min-width: $large) {
    display: block;
    width: 100%;
    padding: 1.5rem 0;
    box-shadow: 1px 1px 6px var(--shadow-color);
    border-radius: var(--radius);
  }
}
