.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    transform: scale(0.9);
    width: auto;
    @include no-select;

    img {
      height: 65px;
      margin-left: -0.5rem;
    }
  }

  &__icon {
    font-size: 1.2rem;
    margin-right: 0.8rem;
    cursor: pointer;
    &-bars {
      color: var(--principal);
    }
  }
}
