// Aqui se importaran todos los componentes de los archivos scss para
// solo tener que exportar un solo archivo

@import './Header/Header';
@import './NavBar/NavBar.scss';
@import './HeaderMenuMobile/HeaderMenuMobile.scss';
@import './HomePosts/HomePosts.scss';
@import './PostComponent/PostComponent.scss';
