// Aqui se importaran todos los componentes de los archivos scss para
// solo tener que exportar un solo archivo

@import './Header/Header';
@import './NavBar/NavBar.scss';
@import './HeaderMenuMobile/HeaderMenuMobile.scss';
@import './HomePosts/HomePosts.scss';
@import './PostComponent/PostComponent.scss';
@import './Footer/Footer.scss';
@import './BtnToTop/BtnToTop.scss';
@import './HeaderDesktop/HeaderDesktop.scss';
@import './SideBar/SideBar.scss';
@import './YtCard/YtCard.scss';
@import './About/AboutText.scss';
@import './GetPosts/GetPosts.scss';
@import './NoPostsFounded/NoPostsFounded.scss';
@import './About/AboutCard.scss';