.SideBar {
  display: none;

  @media (min-width: $large) {
    box-shadow: 0.5px 1px 5px var(--shadow-color);
    display: inline-block;
    height: 700px;
    background: var(--secundario);
    width: 100%;
    color: var(--white);
    border-radius: var(--radius);
    padding: 2rem 1rem;
    text-align: left;
    right: 0;
    position: relative;
    margin-bottom: 4rem;
    transition: var(--transition);

    &:hover {
      filter: brightness(1.25);
    }

    &__title {
      font-size: 1.4rem;
    }

    p {
      margin: 2.5rem 0;
      letter-spacing: 0.7px;
    }
  }
}
