.BtnToTop {
  border-radius: 50%;
  position: fixed;
  right: 1%;
  bottom: 0vh;
  background-color: #fff;
  padding: 0.6rem;
  box-shadow: 2px 2px 5px 0px var(--shadow-color);
  margin: 1rem;
  color: var(--secundario);
  backface-visibility: hidden;
  cursor: pointer;

  @include no-select;

  @media (min-width: $large) {
    display: none;
  }

  i {
    font-size: 1.6rem;
  }
}
