.HomePosts {
  text-align: center;

  @media (min-width: $large) {
    padding: 5%;
  }

  &__title {
    font-size: 2.5rem;
    @include no-select;

    @media (min-width: $large) {
      text-align: left;
    }
  }

  &__content {
    padding: 0 5%;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3rem;
  }
}
