.HomePosts {
  text-align: center;

  &__title {
    font-size: 2.5rem;
  }

  &__content {
    padding: 0 5%;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3rem;
  }
}
