.HomePosts {
  text-align: center;

  @media (min-width: $large) {
    padding: 5% 3%;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    @include no-select;

    @media (min-width: $large) {
      text-align: left;
    }
  }

  &__flex {
    @media (min-width: $large) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__aside {
    display: none;

    @media (min-width: $large) {
      display: block;
      margin-left: 2rem;
      width: 190px;
    }

    @media (min-width: $laptop) {
      width: 280px;
    }
  }
}
