.HomePosts {
  text-align: center;

  @media (min-width: $large) {
    padding: 5%;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    @include no-select;

    @media (min-width: $large) {
      text-align: left;
    }
  }

  &__content {
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3rem;

    @media (min-width: $large) {
      padding: 0;
      display: grid;
      grid-template-columns: 350px 350px;
      justify-content: space-between;
      column-gap: 2rem;
      row-gap: 5rem;
    }
  }

  &__flex {
    @media (min-width: $large) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__aside {
    margin-left: 2rem;
    width: 190px;
  }
}
