.Footer {
  background: var(--terciario);
  text-align: center;
  padding: 4rem 0;
  margin-top: 10rem;
  height: auto;

  @media (min-width: $large) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    margin-top: 7rem;
  }

  &__link {
    @include no-select;
  }

  &__logo {
    margin-bottom: 4rem;
    width: 180px;

    @media (min-width: $ipad) {
      width: 210px;
      margin-bottom: 3rem;
    }

    @media (min-width: $large) {
      margin-bottom: 0;
    }
  }

  &__content {
    padding: 0 2rem;

    &-text {
      line-height: 1.5;
      color: var(--white);
      font-weight: 500;
      font-size: 0.9rem;

      @media (min-width: $ipad) {
        font-size: 1rem;
        // padding: 0 2.6rem;
        width: 30rem;
        margin: 0 auto;
        line-height: 1.7;
      }

      @media (min-width: $large) {
        text-align: right;
      }
    }
  }
}
