// normalize (css)
@import "./scss/normalize";

// Variables
@import "./scss/variables";

// Globals
@import "./scss/globals";

// App
@import "./scss/App";

//// Views
@import "./scss/views/Welcome";
