.App {
  position: relative;
  height: 100vh;
  max-width: 1440px; // Esta es una resolucion que para si lo veen en pantallas mayores no se distorcione
  margin: 0 auto;
}

// Components
@import './components/index';
