/*
  Este es el scroll perzonalizado que se modifica
*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secundario);
  border-radius: var(--radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--principal);
}
