/*
  Este es el scroll perzonalizado que se modifica
*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
// ::-webkit-scrollbar-track {
//   border-radius: 10px;
// }

/* Handle */
::-webkit-scrollbar-thumb {
  // border-radius: var(--radius);
  background: var(--principal);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--terciario);
}
