html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  // border-box
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--poppins-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--principal);
  scroll-behavior: smooth;
  scroll-margin: 0;
  background: var(--white);
}
