// Aqui es en donde estaran las variables que seran ocupadas en los demas archivos
:root {
  // La fuente la defino asi ya que es buena pratica usar rem que hace referencia a este valor
  font-size: 16px;
}
