// Aqui es en donde estaran las variables que seran ocupadas en los demas archivos
:root {
  // La fuente la defino asi ya que es buena pratica usar rem que hace referencia a este valor
  font-size: 16px;

  // Estas son la primera version de la paleta de colores que utilizaremos
  // En caso sea necesario cambiar un color lo haremos desde la variable manualmente pero revisando que no afecte
  // a otros estilos
  --charcoal: #254653;
  --persian-green: #2a9d8f;
  --burnt-sienna: #f35860;
  --sandy-brown: #ff9667;

  --grey: #50514f;
  --naples-yellow: #ffe066;
  --celadon-blue: #247ba0;

  --queen-blue: #33658a;
  --dark-charcoal: #2f4858;

  --white: #f1f1f1;
  --dark: #141313;

  --shadow-color: rgba(59, 35, 35, 0.7);

  // optional colors
  --orange-crayola: #ffd670;
  --dark-blue: #112968;
  --very-dark-blue: #000028;
  --light-salmon: #ff9770;
  --salmon: #f25c54;
  --light-yellow: #ffee32;
  --yellow: #;

  // Font Families
  // Textos, enlaces, subtitulos
  --poppins-font: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  // Titutlos y referencias
  --ibm-font: "IBM Plex Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  // @weights: family=IBM:400;500;600;700
  // @weights: family=Poppins:100;200;300;400;500;600;700;800

  // CSS properties
  --transition: 0.2s cubic-bezier(0.49, 0.28, 0.78, 0.79);
  --radius: 9px;
  --border-invisible: 1px solid rgba(0, 0, 0, 0);
}
