// Aqui es en donde estaran las variables que seran ocupadas en los demas archivos
:root {
  // La fuente la defino asi ya que es buena pratica usar rem que hace referencia a este valor
  font-size: 16px;

  // Estas son la primera version de la paleta de colores que utilizaremos
  // En caso sea necesario cambiar un color lo haremos desde la variable manualmente pero revisando que no afecte
  // a otros estilos
  --white: #f1f1f1;
  --dark: #141313;

  --shadow-color: rgba(59, 35, 35, 0.7);

  // new Palette
  --principal: #071e3d;
  --secundario: #001c55;
  --secundario-2: #1c3684;
  --terciario: #0c97f2;
  --terciario-2: #abe7ef;

  // Font Families
  // Textos, enlaces, subtitulos
  --poppins-font: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  // @weights: family=Poppins:100;200;300;400;500;600;700;800

  // CSS properties
  --transition: 0.2s cubic-bezier(0.49, 0.28, 0.78, 0.79);
  --radius: 9px;
  --border-invisible: 1px solid rgba(0, 0, 0, 0);
}

// Screens
// Estas variables definen el tamano de las pantallas para hacer breakpoint
$phone: 375px;
$large-phone: 420px;
$ipad: 700px;
$large: 1024px;
$laptop: 1280px;
$xxl: 1240px;
