.ApiNewsCard {
  padding: 2rem;
  display: block;
  margin: 2rem auto;
  background: var(--grey-ligth);
  max-width: 350px;
  border-radius: var(--radius);
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10h10v10H0V10zM10 0h10v10H10V0z' fill='%2300336d' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
  transition: var(--transition);

  @media (min-width: $ipad) {
    width: 310px;
    margin: 0;
  }

  @media (min-width: $large) {
    width: 350px;
  }

  &:hover {
    box-shadow: 0px 1px 5px var(--shadow-color);
  }

  &__title {
    font-size: 1.2rem;
    color: var(--principal);
    font-weight: 600;
  }

  &__line {
    width: 50%;
    height: 0.3rem;
    background: var(--secundario);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: var(--radius);
  }

  &__content {
    line-height: 1.5;
    color: var(--dark);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.1px;
    opacity: 0.7;
    transition: var(--transition);

    &:hover {
      opacity: 1;
    }
  }

  &__btn {
    padding: 0.5rem 0.7rem;
    margin-top: 1.3rem;
    border-radius: var(--radius);
    outline: none;
    border: none;
    background: var(--dark-grey);
    transition: var(--transition);

    &:hover {
      background: var(--white);
      a {
        color: var(--dark-grey);
      }
    }

    &-link {
      text-decoration: none;
      font-size: 0.9rem;
      color: var(--white);
      transition: var(--transition);

      i {
        margin-right: 0.4rem;
      }
    }
  }
}
